meshtah.net {
    reverse_proxy next:3000

    handle_path /uploads/* {
        root * /strapi_uploads
        file_server
    }

    handle /api/* {
        reverse_proxy strapi:1337 {
            header_up Host {host}
            header_up X-Forwarded-Proto https

            transport http {
                response_header_timeout 60s
            }
            header_down Set-Cookie "Domain=localhost;.*" "Domain=meshtah.net; Secure; SameSite=None"
            header_down Set-Cookie "Domain=strapi;.*" "Domain=meshtah.net; Secure; SameSite=None"
            header_down Set-Cookie "(; *Secure;?)" "; Secure; SameSite=None"
            header_down +Set-Cookie "SameSite=Lax" "SameSite=None"
            header_down +Set-Cookie "SameSite=Strict" "SameSite=None"
        }
    }

    handle /admin* {
        reverse_proxy strapi:1337 {
            header_up Host {host}
            header_up X-Forwarded-Proto https

            transport http {
                response_header_timeout 60s
            }
            header_down Set-Cookie "Domain=localhost;.*" "Domain=meshtah.net; Secure; SameSite=None"
            header_down Set-Cookie "Domain=strapi;.*" "Domain=meshtah.net; Secure; SameSite=None"
            header_down Set-Cookie "(; *Secure;?)" "; Secure; SameSite=None"
            header_down +Set-Cookie "SameSite=Lax" "SameSite=None"
            header_down +Set-Cookie "SameSite=Strict" "SameSite=None"
        }
    }
}

www.meshtah.net {
    redir https://meshtah.net{uri}
}