services:
  strapi:
    build: ./meshtah-strapi-back
    command: npm run develop
    ports:
      - "1337:1337"
    volumes:
      - ./meshtah-strapi-back:/app
      - /app/node_modules
    environment:
      NODE_ENV: development

  next:
    build: ./meshtah-next-front
    command: npm run dev
    ports:
      - "3000:3000"
    volumes:
      - ./meshtah-next-front:/app
      - /app/node_modules
    environment:
      NODE_ENV: development

