services:
  strapi:
    build: ./meshtah-strapi-back
    environment:
      NODE_ENV: production
    networks:
      - web
    restart: always

  next:
    build: ./meshtah-next-front
    environment:
      NODE_ENV: production
    networks:
      - web
    restart: always

  caddy:
    image: caddy:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
    depends_on:
      - next
      - strapi
    networks:
      - web

networks:
  web:
    driver: bridge

