version: "3.9"

services:

  strapi:
    build: ./meshtah-strapi-back
    working_dir: /app
    ports:
      - "1337:1337"
    volumes:
      - ./meshtah-strapi-back/.tmp:/app/.tmp
    environment:
      NODE_ENV: production
      DATABASE_CLIENT: sqlite
      DATABASE_FILENAME: /app/.tmp/data.db
      ADMIN_JWT_SECRET: supersecretadminjwt
      API_TOKEN_SALT: supersecrettoken
      STRAPI_ADMIN_BACKEND_URL: http://meshtah.net/api
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:1337/_health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 60s
    restart: unless-stopped

  next:
    build: ./meshtah-next-front
    ports:
      - "3000:3000"
    volumes:
      - ./meshtah-next-front/.next:/app/.next
    environment:
      NODE_ENV: production
      NEXT_PUBLIC_API: http://strapi:1337/
    depends_on:
      strapi:
        condition: service_healthy
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - strapi
      - next
    restart: unless-stopped
