version: "3.9"

services:

  strapi:
    working_dir: /app
    build: ./meshtah-strapi-back
    command: sh -c "npm install && npm run build && npm run start"
    ports:
      - "1337:1337"
    volumes:
      - ./meshtah-strapi-back:/app
      - ./meshtah-strapi-back/.tmp:/app/.tmp
      - /app/node_modules
    environment:
      NODE_ENV: production
      NODE_OPTIONS: "--max-old-space-size=4096"
      DATABASE_CLIENT: sqlite
      DATABASE_FILENAME: /app/.tmp/data.db
      ADMIN_JWT_SECRET: 40739ece205b42aca77110382a18bf2f82248812e46d2e316ae6f8d6c068962e
      API_TOKEN_SALT: fb57d4dbeeefbbd3605448bc0e47d50d2708be07e62a8619f000d8a6b3060b57
      STRAPI_ADMIN_BACKEND_URL: http://meshtah.net/api
    restart: unless-stopped


  next:
    build: ./meshtah-next-front
    ports:
      - "3000:3000"
    volumes:
      - ./meshtah-next-front/.next:/app/.next
    environment:
      NODE_ENV: production
      NEXT_PUBLIC_API: http://strapi:1337/api
    depends_on:
      - strapi
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - strapi
      - next
    restart: unless-stopped
