version: "3.9"

services:

  strapi:
    image: node:22-alpine
    container_name: strapi
    working_dir: /app
    volumes:
      - ./meshtah-strapi-back:/app
      - ./meshtah-strapi-back/.tmp:/app/.tmp
    environment:
      NODE_ENV: production
      DATABASE_CLIENT: sqlite
      DATABASE_FILENAME: /app/.tmp/data.db
      ADMIN_JWT_SECRET: supersecretadminjwt
      API_TOKEN_SALT: supersecrettoken
      STRAPI_ADMIN_BACKEND_URL: http://meshtah.net/api
    ports:
      - "1337:1337"
    command: sh -c "npm install && npm run build && npm run start"
    restart: unless-stopped

  next:
    image: node:22-alpine
    container_name: next
    working_dir: /app
    volumes:
      - ./meshtah-next-front:/app
      - /app/node_modules
    environment:
      NODE_ENV: production
      NEXT_PUBLIC_API: http://127.0.0.1:1337/api
    ports:
      - "3000:3000"
    command: sh -c "npm install && npm run build && npm run start"
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./nginx/ssl:/etc/letsencrypt:ro
    depends_on:
      - strapi
      - next
    restart: unless-stopped

