version: "3.9"

services:
  strapi:
    build:
      context: ./meshtah-strapi-back
    container_name: strapi
    env_file: ./meshtah-strapi-back/.env
    restart: always
    environment:
      NODE_ENV: production
    volumes:
      - ./strapi-data:/srv/app/public/uploads
    networks:
      - web
    expose:
      - "1337"

  next:
    build:
      context: ./meshtah-next-front
    container_name: next
    env_file: ./meshtah-next-front/.env.production
    restart: always
    environment:
      NODE_ENV: production
    networks:
      - web
    expose:
      - "3000"

  caddy:
    image: caddy:2-alpine
    container_name: caddy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - ./caddy-data:/data
      - ./caddy-config:/config
    networks:
      - web

networks:
  web:
    driver: bridge

